$keycolor: #f60;
$hovercolor: #38f;

html, body{
    font-size: 18px;
    @media all and (max-width:768px){
        font-size: 16px;
    }
    @media all and (max-width:440px){
        font-size: 14px;
    }
}
a{
    color: $keycolor;
    &:hover{
        color: $hovercolor;
    }
}
h1{
    font-size: 3rem;
}
.current{
    font-weight: bold;
}
.theme-root{
    border-top: 5px solid $keycolor;
}
.theme-header{
    .container{
        display: flex;
        flex-direction: column;
    }

    &__title{
        order: 2;
        font-size: 1rem;
        margin: 1em auto 1em;
        padding: 0;
        a, span{
            display: inline-block;
            margin: 0;
            padding: 0.5em;
            border:3px solid $keycolor;
            color: $keycolor;
            font-size: 1rem;
            font-weight: normal;
            line-height: 1;
        }
        a{
            &:hover{
                border:3px solid $hovercolor;
                color: $hovercolor;
            }
        }
        span{
            font-size: 1.8rem;
        }
    }
}
.theme-global-menu{
    order: 3;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 86%;
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-left: 1px solid $keycolor;
        &:last-child{
            border-right: 1px solid $keycolor;
        }
        a{
            display: block;
            padding: 0.2em 2em;
        }
        a.current{
            color: #fff;
            background-color: $keycolor;
            font-weight: normal;
            &:hover{
                background-color: $hovercolor;
            }
        }
    }
}
.theme-shoulder-menu{
    order: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    font-size: 78%;
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        a{
            display: block;
            padding: 0.2em 1em;
        }
    }
}
.theme-breadcrumb{
    display: block;
    margin: 0.5em 0;
    ul, li{
        margin: 0;
        padding: 0;
        display: inline;
        list-style-type: none;
    }
    ul{
        li:after{
            content: ">";
            margin: 0 1em;
        }
        li:last-child:after{
            content: none;
        }
    }
}
.theme-local-menu{
    margin: 3em auto 2em;
    width: 90%;
    border: 1px solid $keycolor;
    padding: 1em 1.5em;
    border-radius: 0.5em;
}
.theme-pagetop{
    display: flex;
    justify-content: flex-end;
    a{
        display: block;
        padding: 0.2em;
        &:before{
            content: "▲";
            margin-right: 0.5em;
            font-size: 60%;
        }
    }
}
.theme-footer{
    text-align: center;
    border-top: 1px solid $keycolor;
    margin-top: 1em;
    padding-top: 1em;
    font-size: 78%;

    &__copyright{
    }
}
.theme-footer-menu{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-right: 1px solid $keycolor;
        &:last-child{
            border-right: none;
        }
        a{
            display: block;
            padding: 0.2em 2em;
        }
    }
}


// コンテンツ
.contents{
    // ライブラリ同士の衝突吸収
    p, ul, ol, dl{
        margin: 1em 0;
    }
    dl dd {
        margin-left: 2em;
    }
    p, li, dt, dd{
        line-height: 1.6;
    }
    pre code{
        border:none;
        padding:0;
        margin:0;
        display:inline;
    }
}