<?php
$json = include(__DIR__.'/style_conf.php');
?>
$keycolor: <?= $json->colors->key ?>;
$subcolor: <?= $json->colors->sub ?>;
$subcolor2: <?= $json->colors->sub2 ?>;
$subcolor3: <?= $json->colors->sub3 ?>;

@mixin frame-border {
    padding: 1em 1.5em;
    margin: 1em 12px;
<?php
    switch($json->shape){
        case "circle":
            echo "border-radius: 8px;";
            break;
        case "simple":
            break;
    }
?>
}

html, body{
    font-size: 18px;
    @media all and (max-width:768px){
        font-size: 16px;
    }
    @media all and (max-width:440px){
        font-size: 14px;
    }
    font-family: <?php
    $fonts = array();
    foreach($json->fonts as $font){
        array_push($fonts, json_encode($font, JSON_PRETTY_PRINT|JSON_UNESCAPED_UNICODE|JSON_UNESCAPED_SLASHES));
    }
    echo implode(", ", $fonts);
?>, Meiryo, "Hiragino Kaku Gothic ProN", Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
<?php
    if( $json->keycolor_rate >= 8 ){
        echo 'background-color: $keycolor;';
    }
?>
}
a{
    color: $keycolor;
<?php
    if( $json->keycolor_rate >= 8 ){
        echo 'color: #fff;';
    }
?>
    &:hover{
        color: $subcolor;
    }
}
h1{
    font-size: 3rem;
}
h2{
    @include frame-border;
    color: $keycolor;
    border: 2px solid $keycolor;
    padding: 0.5em 0.5em 0.2em;
    margin: 1em 0;
    text-align: left;
<?php
    if( $json->keycolor_rate >= 8 ){
        echo 'border-color: #fff;';
        echo 'color: #fff;';
    }else if( $json->keycolor_rate <= 0 ){
        echo 'border: none;';
        echo 'color: #333;';
        echo 'padding: 0;';
    }
?>
}
h3{
    border-bottom: 1px solid $keycolor;
    padding: 0.5em 0 0.2em;
    margin: 1em 0;
    font-weight: bold;
<?php
    if( $json->keycolor_rate >= 8 ){
        echo 'border-color: #fff;';
    }else if( $json->keycolor_rate <= 0 ){
        echo 'border: none;';
        echo 'padding: 0;';
    }
?>
}
.current{
    font-weight: bold;
}
.theme-root{
<?php
    if( $json->keycolor_rate >= 8 ){
        echo 'border-top: 5px solid $keycolor;';
        echo 'background-color: $keycolor;';
        echo 'color: #fff;';
    }else if( $json->keycolor_rate >= 5 ){
        echo 'border-top: 5px solid $keycolor;';
    }else if( $json->keycolor_rate >= 2 ){
        echo 'border-top: 5px solid $keycolor;';
    }else{
    }
?>
}
.theme-header{
    border-bottom: 1px solid #fff;
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'background-color: $keycolor;';
    }
?>

    .container{
        display: flex;
        flex-direction: column;
    }

    &__title{
        order: 2;
        font-size: 1rem;
        margin: 1em auto 1em;
        padding: 0;
        a, span{
            @include frame-border;
            display: inline-block;
            margin: 0;
            padding: 0.5em;
            border:3px solid $keycolor;
            color: $keycolor;
            font-size: 1rem;
            font-weight: normal;
            line-height: 1;
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: #fff;';
        echo 'border-color: #fff;';
    }
?>
        }
        a{
            &:hover{
                border:3px solid $subcolor;
                color: $subcolor;
            }
        }
        span{
            font-size: 1.8rem;
        }
    }
}
.theme-global-menu{
    order: 3;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 86%;
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-left: 1px solid $keycolor;
        &:last-child{
            border-right: 1px solid $keycolor;
        }
        a{
            display: block;
            padding: 0.2em 2em;
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: #fff;';
        echo 'border-color: #fff;';
    }
?>
        }
        a.current{
            color: #fff;
            background-color: $keycolor;
            font-weight: normal;
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: $keycolor;';
        echo 'background-color: #fff;';
    }
?>
            &:hover{
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: #fff;';
    }
?>
                background-color: $subcolor;
            }
        }
    }
}
.theme-shoulder-menu{
    order: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    font-size: 78%;
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        a{
            display: block;
            padding: 0.2em 1em;
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: #fff;';
        echo 'border-color: #fff;';
    }
?>
        }
    }
}
.theme-welcome{
    width: auto;
    margin: 0.5em 0;
    img{
        width: 100%;
    }
}
.theme-breadcrumb{
    display: block;
    margin: 0.5em 0;
    font-size: small;
    ul, li{
        margin: 0;
        padding: 0;
        display: inline;
        list-style-type: none;
    }
    ul{
        li:after{
            content: ">";
            margin: 0 1em;
        }
        li:last-child:after{
            content: none;
        }
    }
}
.theme-main-container{
    display: flex;
    flex-direction: row;

    &__main{
        width: 75%;
        margin: 1em 12px;
    }
    &__local-menu{
        width: 25%;
        margin: 1em 12px;
    }
    &__local-menu-frame{
        @include frame-border;
        border: 1px solid $keycolor;
        padding: 1em 1.5em;
<?php
    if( $json->keycolor_rate >= 8 ){
        echo 'border-color: #fff;';
    }else if( $json->keycolor_rate <= 0 ){
        echo 'border: none;';
        echo 'padding: 0;';
    }
?>
    }
}
.theme-pagetop{
    display: flex;
    justify-content: flex-end;
    a{
        display: block;
        padding: 0.2em;
        &:before{
            content: "▲";
            margin-right: 0.5em;
            font-size: 60%;
        }
    }
}
.theme-footer{
    text-align: center;
    border-top: 1px solid $keycolor;
    margin-top: 1em;
    padding-top: 1em;
    font-size: 78%;

<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: #fff;';
        echo 'border-color: #fff;';
        echo 'background-color: $keycolor;';
    }
?>

    &__copyright{
    }
}
.theme-footer-menu{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-right: 1px solid $keycolor;
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: #fff;';
        echo 'border-color: #fff;';
    }
?>
        &:last-child{
            border-right: none;
        }
        a{
            display: block;
            padding: 0.2em 2em;
<?php
    if( $json->keycolor_rate >= 5 ){
        echo 'color: #fff;';
        echo 'border-color:#fff;';
    }
?>
        }
    }
}


// コンテンツ
.contents{
    // ライブラリ同士の衝突吸収
    p, ul, ol, dl{
        margin: 1em 0;
    }
    dl dd {
        margin-left: 2em;
    }
    p, li, dt, dd{
        line-height: 1.6;
    }
    pre code{
        border:none;
        padding:0;
        margin:0;
        display:inline;
    }
}